*, :after, :before {
    box-sizing: border-box;
}

:root {
	font-size: 20px;
	--background: #202124;
	--blue: #649fff; /*#4285f4;*/
	--red: #ea4336;
	--orange: #fbbd05;
	--green: #34a853;
}

body {
	margin: 0;
	background: var(--background);
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.5;
}

img {
	max-width: 100%;
	height: auto;
}

a, .button-link {
	color: color-mix(in srgb, var(--blue) 75%, white);
	transition: color 0.2s ease, background 0.2s ease;
	text-decoration: none;
}

a:hover, a:focus, .button-link:hover, .button-link:focus {
	color: color-mix(in srgb, var(--blue), white);
	text-decoration: underline;
	text-underline-position: under;
}

header {
	padding: 2rem;
	background: rgb(0 0 0 / 20%);
	border: 0 solid rgb(255 255 255 / 15%);
	border-width: 0 0 1px 0;
}

main {
	flex-grow: 1;
	padding: 1.333rem 2rem;
}

nav {
	margin-top: 2rem;
}

nav .is-current {
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-color: white;
	color: white;
}

nav > * {
	margin: 1.5em 0;
}

nav > a {
	display: block;
}

nav > form {
	margin-left: -0.75rem;
}

.burg {
	background: transparent;
	color: white;
	border-radius: 0.5rem;
	float: right;
	margin-top: -0.425em;
	padding-bottom: 0.475rem;
}
.burg .icon svg {
	width: 1.5em;
	height: 1.5em;
}

.skip-cache-checkbox {
	width: 11.05rem;
	margin: 0.5rem 0 0;
}

hr {
	border: 0;
	border-top: 1px solid rgb(255 255 255 / 15%);
}

fieldset {
	padding: 0;
	margin: 0 0 1em;
	border: 0;
}

.icon {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
}

.icon svg {
	overflow: hidden;
	display: inline-block;
	width: 1.125em;
	height: 1.125em;
	fill: currentColor;
}

button, .button {
	--button-bg: var(--blue);
	font-family: inherit;
	font-size: inherit;
	padding: 0.5rem 1rem 0.5555555556rem;
	line-height: 1.5;
	border-radius: 1.5em;
	color: var(--background);
	background: var(--button-bg);
	border: 1px solid rgb(255 255 255 / 25%);
	box-shadow: 0.05em 0.125em 1em 0 rgb(0 0 0 / 25%);
	cursor: pointer;
	transition: color 0.2s ease, background 0.2s ease, background-image 0.2s ease;
}

button:hover, button:focus,
.button:hover, .button:focus {
	--button-bg: color-mix(in srgb, var(--blue) 75%, white);
}

.button-t, .button-l {
	background: transparent;
	color: white;
	box-shadow: none;
}

.button-l {
	border-color: transparent;
}

.button-link {
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	background: none;
	border: 0;
	padding: 0;
	cursor: pointer;
}

.button-link:hover, .button-link:focus {
	background: none;
}

.button-overseerr {
	--button-bg: linear-gradient(to bottom right, #4f46e5, #9333ea);
	color: white;
}

.button-overseerr:not(.loaded):not(.errored):hover,
.button-overseerr:not(.loaded):not(.errored):focus {
	--button-bg: linear-gradient(to bottom right, #352ebc, #7621c5);
}

button.loaded {
	--button-bg: var(--green);
	color: white;
}
button.errored {
	--button-bg: var(--red);
	color: white;
}

button:disabled, button:disabled:hover, button:disabled:focus {
	opacity: 0.333;
	cursor: not-allowed;
	background: #2c2d30;
	border-color: transparent;
	box-shadow: none;
	color: white;
}

input[type="text"], input[type="number"], input[type="search"], textarea, select, .finput {
	font-family: inherit;
	font-size: inherit;
	display: block;
	width: 100%;
	padding: 0.5rem 0;
	line-height: 1.5;
	background: transparent;
	border: 0;
	border-bottom: 1px solid rgb(255 255 255 / 25%);
	color: white;
	transition: color 0.2s ease, background 0.2s ease;
}

input[type="text"]:hover, input[type="number"]:hover, textarea:hover, select:hover,
input[type="text"]:focus, input[type="number"]:focus, textarea:focus, select:focus {
	background: rgb(255 255 255 / 5%);
}

input[type="text"][width] {
	width: fit-content;
}

textarea {
	field-sizing: content;
	resize: none;
}

.finput {
	word-break: break-all;
}

::placeholder {
	color: rgba(255 255 255 / 35%);
}

small {
	font-size: 0.8em;
}

label, legend {
	display: inline-block;
	margin: 0 0 0.325em;
	font-size: 0.8rem;
	color: rgb(255 255 255 / 75%);
	cursor: pointer;
}

.label-reset {
	font-size: 1rem;
	color: inherit;
}

.radios label {
	font-size: 1rem;
	margin: 0 0.25rem 0 0;
	padding: 0.25em 0.875em 0.325em 0.625em;
	border: 1px solid rgb(255 255 255 / 25%);
	border-radius: 1.5em;
	cursor: pointer;
}

.radios label:has(:checked) {
	background: var(--blue);
	color: var(--background);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
	
.movie-col {
	position: relative;
	flex-grow: 1;
}

.page {
	margin: 0 auto 1em;
	max-width: 1000px;
	min-height: calc(100vh - 380px);
}

.movies-p {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 1rem;
}

.movie {
	background: rgb(0 0 0 / 20%);
	border: 1px solid rgb(255 255 255 / 10%);
	border-radius: 1.5rem;
	padding: 2em;
	margin: 0 auto 1em;
	position: relative;
	transition: opacity 0.2s ease, transform 0.2s ease;
}

.movie-p {
	background: linear-gradient(to bottom, rgb(0 0 0 / 20%) 50%, rgb(0 0 0 / 0%));
	padding: 0;
	margin: 0;
	border: 0;
	width: calc(20% - 0.8rem);
}

.movie-p:hover, .movie-p:focus {
	transform: scale(1.05);
}

.movie-p .unknown-state {
	top: 0.5rem;
	right: 0.5rem;
}

.movie-f.is-unknown {
	background: rgb(66 13 9 / 20%);
}

.movie-p.is-unknown {
	background: linear-gradient(to bottom, rgb(66 13 9 / 20%) 50%, rgb(66 13 9 / 0%));
}

.is-requested:not(:hover) {
	opacity: 0.6;
}

.unknown-state {
	position: absolute;
	top: -0.5rem;
	right: 0;
	z-index: 2;
}

.poster {
	aspect-ratio: 2 / 3;
}

.poster.no-p-title {
	padding: 1.75rem 1rem 0;
	overflow: hidden;
	mask-image: linear-gradient(to top, rgb(0 0 0 / 0%), rgb(0 0 0 / 100%) 50%);
	font-size: clamp(0.8rem, 1vw + 0.4rem, 1.5rem);
	opacity: 0.5;

}

.p-title {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 0.25rem;
}

.p-link {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

footer {
	margin: 5rem 0 1rem;
	opacity: 0.5;
	font-size: 0.8rem;
	text-align: right;
}

dialog {
	position: fixed;
	z-index: 1000;
	left: 1rem;
	right: 1rem;
	max-width: 900px;
	top: 50%;
	transform: translateY(-50%);
	background: rgb(20 20 20 / 50%);
	backdrop-filter: blur(1rem);
	color: white;
	border: 1px solid rgb(255 255 255 / 10%);
	border-radius: 1.5rem;
	padding: 10vh 15vw;
	margin: 0 auto;
}

dialog::backdrop {
	z-index: 999;
	backdrop-filter: blur(0.25rem);
}

dialog .close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

dialog > :first-child {
	margin-top: 0;
}

.search {
	margin-bottom: 2em;
	position: relative;
}

.search input {
	padding-left: 2.5rem;
}

.search button {
	position: absolute;
	background: transparent;
	border: 0;
	box-shadow: none;
	padding: 0.5277777778rem;
	color: rgb(255 255 255 / 50%);
	bottom: 0;
	z-index: 2;
}

.search button[type="reset"] {
	right: 0;
}

.pagination {
	display: flex;
	justify-content: space-between;
	margin: 2rem auto;
	max-width: 1000px;
}

.pagination > a {
	display: inline-block;
}

.pagination [disabled] {
	opacity: 0.333;
	pointer-events: none;
}

.pagination .view {
	justify-self: center;
}

.setting {
	display: flex;
	flex-wrap: nowrap;
	align-items: baseline;
	margin: 2rem 0;
	gap: 1.5rem;
}

.setting > .key {
	width: 200px;
	flex-shrink: 0;
	text-align: right;
	color: rgb(255 255 255 / 75%)
}

.setting > .value {
	flex-grow: 1;
}

.spin {
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
	animation-timing-function: linear;
    transform-origin: center center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body .dn, body [hidden] {
	display: none;
}

body .db {
	display: block;
}

.tc {
	text-align: center;
}

.opacity-muted {
	opacity: 0.7;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

@media screen and (min-width: 992px) {
	body {
		display: flex;
		flex-flow: row nowrap;
	}

	header {
		min-width: 320px;
		height: 100vh;
		position: sticky;
		top: 0;
		border-width: 0 1px 0 0;
	}

	.burg {
		display: none;
	}

	.movie-row {
		display: flex;
		gap: 2rem;
	}

	.movie-f .poster {
		max-width: 25%;
		height: auto;
		align-self: flex-start;
		flex-shrink: 1;
	}

	.poster-img {
		display: block;
		border: 1px solid rgb(255 255 255 / 15%);
		border-radius: 0.5rem;
		box-shadow: 0.05em 0.125em 1em 0 rgb(0 0 0 / 50%);
	}
}

@media screen and (max-width: 991px) {
	:root {
		font-size: 1.125rem;
	}

	header .logo img {
		width: 200px;
	}

	nav {
		display: none;
		text-align: center;
	}

	nav.open {
		display: block;
	}

	.skip-cache-checkbox {
		margin: 1rem auto 0;
	}

	.movie-f {
		margin-left: -2rem;
		margin-right: -2rem;
		border-radius: 0;
		border-left-width: 0;
		border-right-width: 0;
	}

	.movie-col {
		z-index: 2;
	}

	.movie-f .poster {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		aspect-ratio: 2 / 3;
		z-index: -1;
		pointer-events: none;
	}

	.movie-f .poster-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: right center;
		opacity: 0.3;
		mask-image: linear-gradient(to right, rgb(0 0 0 / 0%), rgb(0 0 0 / 100%));
	}

	dialog {
		padding: 10vh 10vw;
	}
}